<h1>Demo Search Page</h1>

<%= link_to("Property Creation", { :controller => 'properties', :action => 'index' }, :class => 'prop-link') %>
<p>Type the name of the town to search for an apartment in.</p>

<%= form_tag(:action => 'results') do %>

<%= text_field_tag('town', params[:criterion]) %>

<%= submit_tag("Search") %>

<% end %>