<div class"page-header">
	<h1>Demo <small>Search Page</small></h1>
</div>
<button type="button" class="btn btn-default">
	<%= link_to("Property Creation", { :controller => 'properties', :action => 'index' }, :class => 'prop-link') %>
</button>
<div class="search content">
	<p>Type the name of the town to search for an apartment in.</p>

	<%= form_tag(:action => 'results') do %>

	<%= text_field_tag('town', params[:criterion]) %>

	<%= submit_tag("Search") %>

	<% end %>
</div>