<button type="button" class="btn btn-default">
	<%= link_to("<< Back to List", { :action => 'index' }, :class => 'back-link') %>
</button>

<div class="properties show">
  <h2>Show Property</h2>

  <%= form_for(:property, :url => { :action => 'destroy', :id => @property.id}) do |f| %>

	  <p>Are you sure you want to permanently delete this property listing?</p>

	  <p class="reference-name"><%= @property.rental_desc %></p>

	  <div class"form-buttons">
	    <%= submit_tag("Delete Property") %>
	  </div>

  <% end %>
</div>