/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap";
@import "bootstrap/theme";
@import "layout.css.scss";
/* 
@import "layout.css.scss"; 
@import "media-queries";
*/
@import "screen_layout_large.css";
@import "screen_layout_medium.css";
@import "screen_layout_small.css";

/* 
  This area below is to overwrite Bootstrap's code from setting the 
  media quieries from defaulting the breakpoint at 768px for our 
  medium screen layout.
*/
.nav-justified, .nav-tabs.nav-justified {
  width: 100%; }
  .nav-justified > li, .nav-tabs.nav-justified > li {
    float: none; }
    .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
      text-align: center;
      margin-bottom: 5px; }
  .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto; }
  @media (min-width: 501px) {
    .nav-justified > li, .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%; }
      .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
        margin-bottom: 0; } }
/********************************************************************/