/* 
This is the CSS for the CLASH Demo site.
*/
$main-color: #66A3D2;//#1D766F;//#98A399;
$header-color: #0A67A3;
$text-color: #5B02FF;
$slogan-color: #0B61A4;
$page-color: #fff;
$but-text-color: #000;


body {
	background-color: $main-color;
	margin: 0;
}

h1, h2 {
	color: $header-color;
	text-align: center;
}

p {
	color: $text-color;
	font-family: "Soho";
	font-size: 13px;
}

nav a {
	color: #f5a06e;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
}

.page {
	max-width:	980px;
	margin: 0px auto 0px auto;
	position: relative;
	background-color: $page-color;

  section {
  	div.content {
		margin-top: 20px;

		h3 {
			color: $slogan-color;
			font-family: Book Antiqua;
			font-style: italic;
			font-weight: bold;
		}
	}

	div.prefooter {
		margin-top: 50px;
	}
  }

  footer {
  	div.inline {
  		display: inline;
  	}
  	div.right {
  		float: right;
  	}
  }
}