<!-- Bootstrap JavaScript Tabbing -->
<ul class="nav nav-tabs">
	<li><a href="#tip1" data-toggle="tab">When To Look</a></li>
	<li><a href="#tip2" data-toggle="tab">Where To Look</a></li>
	<li><a href="#tip3" data-toggle="tab">How To Look</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade active in" id="tip1">
		<p>
		Lorem ipsum dolor sit amet, pro cibo inani nonumes cu, te pri antiopam instructior. Sed malorum offendit eu, te percipit deseruisse his. Eos et graecis menandri, erat dicit complectitur no mel. Ut mundi possit suavitate his. Mea ea duis facer tamquam, in habeo homero delicatissimi vis. Ad altera timeam per, et sed illud integre utroque.
		</p>
		<p>
		Eu cum habeo dicta falli, paulo simul melius mel ei. Pri in iusto laboramus. Mutat bonorum sea ei. Vix habeo paulo ponderum et, ex odio sensibus sed.
		</p>
		<p>
		Sit summo alterum an. Mundi timeam cu nam, mel ei animal perfecto euripidis. Et vix tation partem impedit. Euismod nonumes vis eu. Per falli maiorum te, ex noluisse aliquando vim, ne nec tritani tibique.
		</p>
	</div>
	<div class="tab-pane fade" id="tip2">
		<p>
		Autem legendos neglegentur ut usu. Antiopam definitionem an usu, eu nam illum quodsi accusam. Paulo ludus vituperata mea an. Per vocibus nominavi perfecto eu, sea eu dolores sensibus, ei eum bonorum saperet evertitur. Ius id docendi liberavisse. Ex vidisse pertinacia interesset vix, est ignota graeco molestie ne.
		</p>
		<p>
		Qui reque eripuit ad. In pri vidisse persecuti, probo salutatus voluptaria in vim, in mel menandri convenire. Eos decore nostrum in, has justo debitis praesent et, ad nihil nostro vim. Homero audiam intellegat te nam, epicurei pericula consequuntur cum ei, cu vim augue mazim. Id maluisset imperdiet vix, id his quodsi everti euripidis.
		</p>
	</div>
	<div class="tab-pane fade" id="tip3">
		<p>
		Lorem ipsum dolor sit amet, eu sea quodsi insolens legendos, alienum intellegat in nam, wisi falli appareat at sed. Mei natum vocent ea, assum gloriatur no pri. Essent laoreet antiopam mel an, elit equidem repudiandae ne mea. Clita doming quo eu, no mea movet delenit honestatis, has summo mentitum id. Cu pri sapientem deterruisset, dicat fabellas at duo. Nibh case mutat pri eu.
		</p>
		<p>
		In erat viderer argumentum sed, eum no case albucius. Percipit perfecto adipisci id vim, nam at utamur denique. Mea et reque doming. Saepe ceteros definitiones has ad, ei duo modo nullam facilisis. Pri an liber vivendo contentiones, ea amet eros signiferumque nam.
		</p>
		<p>
		Eam ut timeam alterum dissentias, enim apeirian id eam. Cum ex velit feugait, est ea meliore consectetuer. Usu alienum elaboraret et, mel labitur debitis percipitur ad. Has at minim dictas, sed ea malis repudiandae, per ea vidit blandit qualisque. Has an affert gloriatur liberavisse, pro timeam tritani patrioque in, at nam eruditi patrioque.
		</p>
		<p>
		Quas ludus bonorum eu pro, ne vel tale consetetur mediocritatem. Te sea nemore tamquam integre, decore veritus ocurreret usu ei, ea usu prima quodsi. Exerci invenire principes mea ex, et qualisque incorrupte cum. Ei clita tempor hendrerit est. Et qui modo dolorum expetendis, per ut velit copiosae dignissim, ut sea constituto deterruisset. Qui at tation dolorem appellantur, sea munere eruditi te. Volumus invenire his at, ea soluta electram tractatos duo.
		</p>
	</div>
</div>