<div class="">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Tip #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales dolor ac varius rutrum. Aenean tempus erat nec lectus pulvinar, non aliquam libero varius. Fusce quis mi augue. Maecenas sit amet tellus orci. Nam in nulla in lorem lobortis lacinia a vel turpis. Fusce varius massa mauris, quis tristique justo feugiat ut. Aenean lacinia bibendum leo quis adipiscing. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Tip #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
		Maecenas ligula neque, dignissim nec neque eget, accumsan suscipit eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas ornare iaculis commodo. Morbi commodo eros non euismod tristique. Praesent velit mi, lacinia vel magna dignissim, varius congue massa.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Tip #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
		Vivamus neque ipsum, congue nec egestas a, feugiat vitae dui. Quisque semper fermentum tristique. Vestibulum lacus orci, feugiat a metus ac, sollicitudin porttitor magna. Etiam lacinia vestibulum porta. Ut pharetra, diam non faucibus faucibus, nibh justo vestibulum nisi, sit amet bibendum dui tortor et magna. Pellentesque sagittis quam eget ligula malesuada, id euismod arcu ultrices. Ut condimentum metus ac odio consectetur aliquam.
      </div>
    </div>
  </div>
</div>
</div>